.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    gap: 50px;
}

.Container>h1 {
    font-size: clamp(1.8rem, 3vw, 2.5rem);
}

fieldset {
    border: none;
}

.Conteudo {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.Conteudo strong,
.Link {
    color: #ffffff;
}

.MaisInfos {
    gap: 20px;
}

.Descricao,
.Descricao li {
    color: #d1d1d1;
}

.Titulo {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    margin-bottom: 15px;
}

.Subtitulo {
    font-size: clamp(1rem, 3vw, 1.15rem);
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.Descricao {
    font-size: clamp(0.8rem, 3vw, 1rem);
    line-height: 1.5;
    padding-left: 40px;
    text-align: left;
}

.Descricao ul {
    list-style-type: disc;
    margin-left: 20px;
}

.Descricao li {
    margin-bottom: 10px;
    list-style: none;
}

.Link {
    text-decoration: none;
    word-break: break-word;
}

.Link:hover {
    text-decoration: underline;
}