.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    padding: 20px;
    gap: 50px;
}

.Container>h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

fieldset {
    border: none;
}

.Conteudo {
    max-width: 800px;
    width: 100%;
    background-color: #1c1e22; /* Um tom mais escuro para o fundo da seção de conteúdo */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Conteudo strong {
    color: #00aeff;
}

.MaisInfos {
    gap: 20px;
}

.Titulo {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    margin-bottom: 15px;
}

.Subtitulo {
    font-size: clamp(1rem, 3vw, 1.2rem);
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.Descricao {
    font-size: clamp(0.8rem, 3vw, 1rem);
    line-height: 1.6;
    padding-left: 40px;
    text-align: justify;
}

.Descricao ul {
    list-style-type: disc;
    margin-left: 20px;
}

.Descricao li {
    margin-bottom: 10px;
    list-style: none;
}

.Link {
    color: #838383;
    text-decoration: none;
}

.Link:hover {
    text-decoration: underline;
}