.MenuNav {
    padding: 5px 20px;
}

.MenuNav ul {
    gap: 30px;
}

.MenuNav ul li {
    list-style: none;
}

.MenuNav ul li a {
    font-size: 20px;
    gap: 5px;
    text-decoration: none;
}

.IconSkin {
    width: 50px;
    aspect-ratio: 16/5;
    object-fit: cover;
    object-position: center;
}

.IconSobreMim {
    width: 20px;
    aspect-ratio: 1/1;
}

.Active {
    position: relative;
}

.Active::after {
    content: '';
    position: absolute;
    height: 5px;              /* Altura da barra deslizante */
    width: 100%;              /* Largura da barra */
    background-color: white;  /* Cor da barra */
    top: 25px;             /* Posição abaixo do botão */
    left: 0;
    transform: translateX(0); /* Posiciona a barra na posição inicial */
    transition: transform 0.3s ease; /* Adiciona a transição suave */
}

@media screen and (max-width: 1200px) {
    .Active::after {
        top: 22px;
        height: 3px;
    }
}

@media screen and (max-width: 768px) {
    .MenuNav {
        padding: 0 10px;
    }

    .MenuNav ul {
        gap: 15px;
    }
}

@media screen and (max-width: 480px) {
    .MenuNav {
        position: fixed;
        z-index: 10;
        bottom: 0;
        padding: 0 5px;
        width: 100%;
        height: 60px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px) brightness(0.5);
        justify-content: center;
    }

    .MenuNav ul {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    .MenuNav ul li {
        height: 100%;
    }

    .MenuNav ul li a {
        position: relative;
        gap: 10px;
        flex-direction: column;
        width: 150px;
        height: 100%;
        font-size: 12px;
    }

    .IconSkin {
        width: 60px;
    }

    .IconSobreMim {
        width: 20px;
    }

    .Active {
        position: unset;
    }

    .Active::after {
        top: 0;
        height: 3px;
    }
}