.Skins {
    flex-wrap: wrap;
    flex-grow: 2;
}

.DivSkins {
    width: 80vw;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.DivSkins>h1 {
    font-size: clamp(1.8rem, 3vw, 3rem);
}

.DivOpcoesListagem {
    gap: 20px;
}

.OrdenacaoDiv {
    gap: 10px;
}

.SltOrdenacao,
.DivBusca { 
    outline: none;
    border: 2px solid #2b2b2b;
    background: #2b2b2b;
    width: 150px;
    height: 40px;
    font-size: clamp(0.5rem, 3vw, 1rem);
    padding: 0px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.DivBusca {
    position: relative;
    width: 250px;
    gap: 5px;
    cursor: inherit;
}

.IconeBusca {
    width: 30px;
    height: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.IconeBusca:hover {
    transform: scale(1.1);
}

.InBusca {
    width: 250px;
    font-size: clamp(0.8rem, 3vw, 1rem);
    padding-right: 10px;
    cursor: text;
    resize: none;
    overflow-y: auto;
    border: none;
    outline: none;
    background: none;
}

.CustomCheckbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

/* Estiliza o container do checkbox */
.CustomCheckbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/* Estiliza o ícone customizado */
.Checkmark {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

/* Animação de rotação */
.FilterIcon {
    transition: transform 0.5s ease;
}

/* Quando marcado, rotaciona o ícone */
.Checked .FilterIcon {
    transform: scaleY(-1);
}

.HeaderMain {
    flex-wrap: wrap;
    margin-top: 30px;
}

.FiltroNav {
    width: 80vw;
    background: #ffffff09;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    backdrop-filter: blur(2px);
}

.FiltroNav ul {
    gap: 30px;
    flex-wrap: wrap;
}

.FiltroNav ul li {
    list-style: none;
}

.BtnFiltro {
    background: none;
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    transition: letter-spacing 0.3s ease;
}

.BtnFiltro:hover {
    letter-spacing: 3px;
}

.BtnFiltroAtivo::after {
    content: '';
    position: absolute;
    height: 5px;
    /* Altura da barra deslizante */
    width: 100%;
    /* Largura da barra */
    background-color: white;
    /* Cor da barra */
    top: 20px;
    /* Posição abaixo do botão */
    left: 0;
    transform: translateX(0);
    /* Posiciona a barra na posição inicial */
    transition: transform 0.3s ease;
    /* Adiciona a transição suave */
}

.MsgBusca {
    width: 80vw;
    padding: 5px 10px;
    margin-top: 20px;
    text-align: center;
}

.MsgErro {
    text-align: center;
    flex-grow: 2;
    padding: 10px 20px;
    gap: 10px;
}

.MsgBusca,
.MsgErro h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    line-height: 1;
}

.MsgErro h2 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1;
}

@media screen and (max-width: 1200px) {
    .BtnFiltroAtivo::after {
        height: 3px;
        top: 15px;
    }
}

@media screen and (max-width: 768px) {
    .BtnFiltroAtivo::after {
        height: 2px;
        top: 15px;
    }

    .DivSkins {
        flex-direction: column;
        gap: 20px
    }
}

@media screen and (max-width: 480px) {
    .FiltroNav {
        width: 90vw;
        padding: 20px 10px
    }

    .DivOpcoesListagem {
        flex-direction: column;
        gap: 10px
    }
}