.carrousel {
    width: 80vw;
}

.carrousel ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    gap: 50px;
    margin: 50px 0; 
}

.carrousel ul li {
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px; /* Largura fixa para consistência */
    aspect-ratio: 1/1;
    text-align: center;
    cursor: pointer;
}

.carrousel ul li>span:first-child {
    position: absolute;
    top: 40px;
}

.carrousel ul li img {
    position: absolute;
    top: 10px;
    max-width: 250px; 
    aspect-ratio: 4/3;
    filter: drop-shadow(0 10px 0 rgba(0, 0, 0, 0.5));
    transition: transform 0.3s
}

.carrousel ul li:hover img {
    transform: translateY(-20px) scale(1.2);
}

.carrousel ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%; 
    width: 100%
}

.carrousel ul li a div,
.carrousel ul li div {
    position: absolute;
    align-items: center;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 2;
}

.carrousel ul li div {
    height: 60px;
    gap: 20px;
}

.carrousel ul li h1 {
    position: absolute;
    font-size: 18px;
    line-height: 0.8;
}

.carrousel ul li p {
    position: absolute;
    font-style: italic;
    margin: 0;
    bottom: 0;
}

.Destaque {
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
}