.carrousel ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-evenly;
    gap: 30px;
    margin: 50px 0;
    background: url("../../assets/background-carbon.jpg") repeat;
}

.carrousel ul li {
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px; /* Largura fixa para consistência */
    aspect-ratio: 1/1;
    text-align: center;
    cursor: pointer;
}

.carrousel ul li>span:first-child {
    position: absolute;
    top: 40px;
}

.carrousel ul li:hover img {
    transform: translateY(-20px) scale(1.2); /* Efeito de elevação ao passar o mouse */
}

.carrousel ul li img {
    position: absolute;
    top: 20px;
    max-width: 250px; 
    aspect-ratio: 4/3;
    filter: drop-shadow(0 10px 0 rgba(0, 0, 0, 0.5));
    transition: transform 0.3s; /* Animação suave ao passar o mouse */
}

.carrousel ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: 'relative';
    height: 100%; 
    width: 100%
}

.carrousel ul li a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.carrousel ul li h1 {
    font-size: 18px;
    line-height: 0.8;
    margin: 10px 0;
}

.carrousel ul li p {
    font-style: italic;
    margin: 0;
}

.Destaque {
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
}