.carrousel ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.carrousel ul li {
    padding: 15px;
    border-radius: 10px; /* Bordas arredondadas */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; /* Espaço entre os itens */
    width: 100%;
    max-width: 300px; /* Largura fixa para consistência */
    aspect-ratio: 4/3;
    text-align: center;
    cursor: pointer;
}

.carrousel ul li:hover img {
    transform: translateY(-20px) scale(1.5); /* Efeito de elevação ao passar o mouse */
}

.carrousel ul li img {
    max-width: 200px; /* Maior para destacar a imagem */
    margin: 10px 0; /* Espaço entre a imagem e o texto */
    border-radius: 5px; /* Bordas arredondadas para a imagem */
    transition: transform 0.2s ease-in-out; /* Animação suave ao passar o mouse */
}

.carrousel ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.carrousel ul li a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.carrousel ul li h1 {
    font-size: 18px;
    margin: 10px 0 5px 0; /* Espaçamento ajustado ao redor do título */
}

.carrousel ul li p {
    font-style: italic;
    margin: 0;
}
